body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}

.container {
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.shortener {
  display: flex;
  flex-direction: row;
}

.result {
  padding-top: 100px;
  text-align: center;
  z-index: 100;
}

.nav {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.footer {
  align-self: flex-end;
  width: 100%;
  opacity: 0.5;
  text-align: center;
}
